<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initia l-scale=1.0" />

  {% if site.favicon %}
  <link rel="shortcut icon" href="{{ site.github_url }}/favicon.ico">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
  <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen" />

  </head>
<body class="home-template nav-closed">

  {% include menu.html %}
  <div class="site-wrapper">
    {% include header.html %}

    <div id="content" class="content" role="main">
    {{ content }}
    </div>
  </div>

  {% include footer.html %}

  <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="{{ site.github_url }}assets/js/jquery.fitvids.js?v=b60459228a"></script>
  <script type="text/javascript" src="{{ site.github_url }}assets/js/index.js?v=b60459228a"></script>
  
    <script>
        jQuery(document).ready(function () {
            var offset = 250;
            var duration = 100;
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() >= offset) {
                    jQuery('.back-to-top').fadeIn(duration);
                } else {
                    jQuery('.back-to-top').fadeOut(duration);
                }
            });

            jQuery('.back-to-top').click(function (event) {
                event.preventDefault();
                jQuery('html, body').animate({
                    scrollTop: 0
                }, duration);
                return false;
            })
        });</script>
    <script>
        function openModal() {
            document.getElementById('myModal').style.display = "block";
            $('body').css('overflow', 'hidden')
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
            $('body').css('overflow', 'scroll')
        }

        var slideIndex = 1;
        showSlides(slideIndex); 

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>



  {% include analytics.html %}

</body>
</html>
